* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Brandon Printed Two';
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    font-family: 'Sora';
    padding: 20px 80px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.content a {
    text-decoration: none;
    padding: 0px 36px;
    font-family: 'Sora';
    font-size: 20px;
    font-weight: 200;
}

.content a:hover{
    transition: 0.5s;
    color: #F24C27;
}

.cart-account a {
    font-family: 'Sora';
    text-decoration: none;
    padding-left: 19px;
    font-weight: bold;
    vertical-align: middle;
}

.cart-account a:hover {
    transition: 0.5s;
    color: #F24C27;
}

.cart-account a img {
    width: 28px;
    height: 25px;
}

.hero-section {
    background-image: url('Asset/Home.png');
    background-size: cover;
    height: 768px;
    position: relative;
}

.hero-img {
    top: 0;
    left: 0;
    width: 100%;
    height: 768px;
}

.intro{
    position: absolute;
    top: 213px;
    left: 382px;
    right: 382px;
    text-align: center;
}

.intro p {
    font-size: 24px;
}

.intro h1 {
    font-size: 96px;
    margin-top: 50px;
}

.intro h1 span {
    font-size: 96px;
    color: #F24C27;
}

.intro h2 {
    font-size: 36px;
}

.about-us {
    background-image: linear-gradient(#792614, #DB4523, #F24C27);
    text-align: center;
    padding: 100px 0px;
    text-shadow: 0 0 6px black;
}

.about-us h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.about-us p {
    font-family: 'Sora';
    font-weight: 300;
}