* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Brandon Printed Two';
    scroll-behavior: smooth;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    font-family: 'Sora';
    padding: 20px 80px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.content a {
    text-decoration: none;
    padding: 0px 36px;
    font-family: 'Sora';
    font-size: 20px;
    font-weight: 200;
}

.content a:hover{
    transition: 0.5s;
    color: #F24C27;
}

.active {
    color: #F24C27;
}

.bg-black{
    transition: 0.5s;
    background-color: black;
}

.cart-account a {
    font-family: 'Sora';
    text-decoration: none;
    padding-left: 19px;
    font-weight: bold;
    vertical-align: middle;
}

.cart-account a:hover {
    transition: 0.5s;
    color: #F24C27;
}

.cart-account a img {
    width: 28px;
    height: 25px;
}

.hero-section {
    background-image: url('Asset/Home.jpg');
    background-size: cover;
    height: 768px;
    position: relative;
}

.intro {
    padding-top: 213px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro p {
    font-size: 24px;
}

.intro h1 {
    font-size: 96px;
    margin-top: 50px;
}

.intro h1 span {
    font-size: 96px;
    color: #F24C27;
}

.intro h2 {
    font-size: 36px;
}

.about-us {
    background: rgb(121, 38, 20);
    background: linear-gradient(180deg, rgba(121, 38, 20, 1) 0%, rgba(174, 55, 28, 1) 8%, rgba(212, 67, 34, 1) 18%, rgba(242, 76, 39, 1) 35%);
    text-align: center;
    padding: 100px 0px;
    text-shadow: 0 0 6px black;
}

.about-us h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.about-us p {
    font-family: 'Sora';
    font-weight: 300;
}